<div class="container text-center">
	<div class="row">
		<div class="title col">Name: <p class="valor">{{name}}</p></div>
		<div class="title col">Height: <p class="valor">{{height}}</p></div>
	</div>

	<div class="row">
		<div class="title col">Mass: <p class="valor">{{mass}}</p></div>
		<div class="title col">Hair color: <p class="valor">{{hair_color}}</p></div>
	</div>

	<div class="row">
		<div class="title col">Skin color: <p class="valor">{{skin_color}}</p></div>
		<div class="title col">Eye color: <p class="valor">{{eye_color}}</p></div>
	</div>

	<div class="row">
		<div class="title col">Birth year: <p class="valor">{{birth_year}}</p></div>
		<div class="title col">Gender: <p class="valor">{{gender}}</p></div>
	</div>	
</div>